apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: platform-tools

  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 27.0.2
    helm:
      values: |
        deployment:
          replicas: 1

        providers:
          kubernetesCRD:
            enabled: true
          kubernetesIngress:
            enabled: true

        ingressClass:
          enabled: true
          isDefaultClass: true
          name: traefik

        service:
          type: LoadBalancer

        ports:
          web:
            port: 80
          websecure:
            port: 443

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
