apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  labels:
    type: infrastructure
    app: traefik
spec:
  project: platform-tools

  sources:
    - repoURL: https://github.com/temitayocharles/helm-charts.git
      targetRevision: main
      ref: values
    
    - repoURL: https://traefik.github.io/charts
      chart: traefik
      targetRevision: 27.0.2
      helm:
        releaseName: traefik
        valueFiles:
          - $values/traefik/values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
