apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 65.0.0
    helm:
      values: |
        prometheus-node-exporter:
          enabled: true

        kube-state-metrics:
          enabled: true

        grafana:
          enabled: true
          adminPassword: admin
          persistence:
            enabled: true
            storageClassName: local-path
            size: 1Gi

        prometheus:
          enabled: true
          prometheusSpec:
            retention: 15d
            retentionSize: "5GB"
            resources:
              requests:
                cpu: 150m
                memory: 768Mi
              limits:
                cpu: 700m
                memory: 1.5Gi
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: local-path
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 5Gi

        alertmanager:
          enabled: true
          alertmanagerSpec:
            storage:
              volumeClaimTemplate:
                spec:
                  storageClassName: local-path
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 1Gi
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                cpu: 300m
                memory: 512Mi

        prometheus-operator:
          enabled: true

  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
