grafana:
  adminPassword: admin
  persistence:
    enabled: false

prometheus:
  prometheusSpec:
    retention: 15d
    retentionsize: 20GB
    resources:
      requests:
        cpu: 200m
        memory:1Gi
      limits:
        cpu:1
        memory 2Gi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

