prometheus-node-exporter:
  enabled: true

kube-state-metrics:
  enabled: true

grafana:
  enabled: true
  adminPassword: admin
  persistence:
    enabled: true
    storageClassName: local-path
    size: 1Gi

prometheus:
  enabled: true
  prometheusSpec:
    retention: 15d
    retentionSize: "20GB"
    resources:
      requests:
        cpu: 200m
        memory: 1Gi
      limits:
        cpu: "1"
        memory: 2Gi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

alertmanager:
  enabled: true
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi

prometheus-operator:
  enabled: true
