replicaCount: 1
image:
  repository: ghcr.io/temitayocharles/cila-health-monolith
  tag: "latest"
  pullPolicy: IfNotPresent
imagePullSecrets:
  - name: ghcr-creds
service:
  type: ClusterIP
  port: 80
containerPort: 8080
resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"
externalSecret:
  enabled: false
ingress:
  enabled: false
appKey: "base64:klnpxyDKmIg1KK8oMtumzXCDyrMVbumA3sk+ACxDbmg="
database:
  host: cila-health-monolith-postgresql
  port: 5432
  name: cila_monolith
  user: cila
  password: cila-pass
postgresql:
  enabled: true
  image:
    repository: bitnami/postgresql
    tag: latest
  auth:
    username: cila
    password: cila-pass
    database: cila_monolith
    postgresPassword: cila-postgres-pass
redis:
  enabled: true
  host: cila-health-monolith-redis-master
  port: 6379
  image:
    repository: bitnami/redis
    tag: latest
  auth:
    enabled: false
  replica:
    replicaCount: 0
