replicaCount: 1
image:
  repository: ghcr.io/temitayocharles/cila-health-monolith
  tag: "latest"
  pullPolicy: IfNotPresent
imagePullSecrets:
  - name: ghcr-creds
service:
  type: ClusterIP
  port: 80
containerPort: 8080
resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"
externalSecret:
  enabled: false
ingress:
  enabled: false
