name: Deploy

on:
  push:
    branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: YAML validation
        run: |
          sudo apt-get install -y yamllint
          yamllint .
